@import '../../styles/core'

.AEMPreview
  background: white
  position: relative
  transition: all .75s $easeInExpo
  &.active
    transform: translateY(-$nav-height)

  .control-bar
    background: $dark-gray
    color: white
    height: 3rem
    display: flex
    align-items: center
    justify-content: center
    font-size: 1.5rem
    position: relative
    left: $sidebar-width
    transition: all .35s ease
    width: calc(100% - #{$sidebar-width})
    +bold
    &.active
      transform: translateX(-$sidebar-width)
      width: 100%
  iframe
    position: absolute
    width: calc(100% - #{$sidebar-width})
    height: 100%
    min-height: 50vh
    min-width: 32rem
    margin-left: $sidebar-width
    transition: all .35s ease
    &.active
      transform: translateX(-$sidebar-width)
      width: 100%

